body{
    background:linear-gradient(90deg,white,rgb(174, 174, 255));
}
#menu2{
    font-size:30px;
    margin-top:-54%;
    margin-left:23%;
}
#img{
    margin-top:100px;    
    margin-left:45%;
    width:47%;
}
a{
    color: black;
}
a:hover{
    color: rgb(0, 255, 255);
}
#menu img{
    margin-left:50px;
    padding-bottom: 0px;
    width:5%;
}#menu{
    background-color: gold;
    width: 102%;
    margin-left:-1%;
    margin-top:-1%;
    height:10%;  
}
#headline{
    margin-left:10%;
    padding-top:0px;
    margin-top: 0px;
}